.booCanvas{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	pointer-events: none;
}
.booCanvas canvas{
	position:absolute;
}
.booCanvas canvas.particles-js-canvas-el{
	z-index:5
}